.cont1 {
  height: 150px;
  width: 300px;
  background-color: #e0e0e0;
}

  .cont1__block {
    height: 50px;
    width: 200px;
    background-color: #92c1e2;
  }

  .cont1__block2 {
    height: 50px;
    width: 200px;
    background-color: #7ba4c1;
  }

.cont2 {
  height: 150px;
  width: 300px;
  background-color: #e0e0e0;
}

  .cont2__block {
    height: 50px;
    width: 300px;
    background-color: #92c1e2;
  }

  .cont2__block2 {
    height: 50px;
    width: 100px;
    background-color: #7ba4c1;
  }

.cont3 {
  height: 50px;
  width: 300px;
  background-color: #e0e0e0;
}

  .cont3__block {
    height: 50px;
    width: 300px;
    background-color: #92c1e2;
  }

.cont4 {
  height: 100px;
  width: 300px;
  background-color: #e0e0e0;
}
  .cont4__block {
    height: 50px;
    width: 100px;
    background-color: #7ba4c1;
  }

.cont5 {
  height: 150px;
  width: 300px;
  background-color: #e0e0e0;
}
  .cont5__block {
    height: 50px;
    width: 300px;
    background-color: #92c1e2;
  }
  .cont5__block2 {
    height: 50px;
    width: 100px;
    background-color: #7ba4c1;
  }

.cont6 {
  height: 100px;
  width: 300px;
  background-color: #e0e0e0;
}
  .cont6__block {
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: #92c1e2;
  }
  .cont6__block2 {
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: #7ba4c1;
    margin-left: -4px;
  }

.cont7 {
  height: 100px;
  width: 300px;
  background-color: #e0e0e0;
  position: relative;
}
  .cont7__block {
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: #92c1e2;
  }
  .cont7__block2 {
    display: inline-block;
    float:right;
    height: 50px;
    width: 100px;
    background-color: #7ba4c1;
  }

.cont8 {
  height: 150px;
  width: 300px;
  background-color: #e0e0e0;
  position: relative;
}
  .cont8__block {
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: #92c1e2;
  }
  .cont8__block2 {
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: #7ba4c1;
    position:absolute;
    bottom:0;
  }

.cont9 {
  height: 100px;
  width: 300px;
  background-color: #e0e0e0;
  position: relative;
}
  .cont9__block {
    display: inline-block;
    height: 50px;
    width: 100px;
    background-color: #92c1e2;
    padding-top: 20px;
  }
  .cont9__block2 {
    display: inline-block;
    height: 50px;
    width: 60px;
    background-color: #7ba4c1;
    top: 0;
  }
  .cont9__block3 {
    display: inline-block;
    height: 50px;
    width: 60px;
    background-color: #7ba4c1;
    top: 0;
  }
  .cont9__block4 {
    display: inline-block;
    height: 50px;
    width: 60px;
    background-color: #7ba4c1;
    top: 0;
  }

.cont10 {
  height: 200px;
  width: 300px;
  background-color: #e0e0e0;
  position: relative;
}
  .cont10__block {
    display: block;
    height: 50px;
    width: 120px;
    background-color: #92c1e2;
  }
  .cont10__block2 {
    display: block;
    height: 50px;
    width: 60px;
    background-color: #7ba4c1;
    top: 0;
  }
  .cont10__block3 {
    display: block;
    height: 50px;
    width: 60px;
    background-color: #7ba4c1;
    top: 0;
  }
  .cont10__block4 {
    display: block;
    height: 50px;
    width: 60px;
    background-color: #7ba4c1;
    top: 0;
  }
