.cont1 {
  height: 200px;
  width: 300px;
  background-color: #e0e0e0;
}

.cont1__block {
  height: 50px;
  width: 200px;
  background-color: #92c1e2;
}

.cont1__block2 {
  height: 50px;
  width: 200px;
  background-color: #7ba4c1;
}
